h1{
  text-align: center;
  background-color: #B3B3B3;
  color: #FFFFFF;
  font-variant: all-small-caps;
  font-size: 50px;
}

a{
	color: #000000;
	background-color: #CCCCCC;
}

header{
   background-color: #B3B3B3;
}

nav{
  	color: #000000;
}

.left{
	display: none;
}

h2{
	color: #00008B;
	font-variant: all-small-caps;
	font-size: 220%;
}

section{
	background-color: #808080;
}