h1{
	text-align: left;
	margin: 0 auto;


	font-family: "Open Sans", sans-serif;

}

body{
	margin: 5%;
}

nav{
	
	background-color: #000000;
	margin: auto 0;
	font-size: 130%;
	font-family: 'Open Sans', sans-serif;
}

nav a{ 
 	padding: 30px 30px;
	color: #FFFFFF;
	text-decoration: none;

}

nav a:hover{
	color: #FFDBE9;
}

.navbar{
	text-align: right;
}

h2{ /* Spotlight On:*/
	color: #000000;
	text-align: left;
	font-size: 20px;
	padding-bottom: 5px;
	margin-top: 10px;
	font-family: 'Open Sans', sans-serif;
}

h3{ /* Wedding Photography */
	color: #000000;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
}

h4{
	font-family: 'Open Sans', sans-serif;
}

p {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	
	text-align: justify;

	
	
}

.p1{
	margin-right: 50px;
	box-sizing: border-box;
	width: 55%;
}
img{
	float: right;
	width: 500px;
	height: 100%;
	border: 5px solid black;
}


footer{
	text-align: right;
	float: right;
	font-family: 'Open Sans', sans-serif;
	padding: 60px 0px 50px 50px;
	clear: both;
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {

.navbar {
  width: 100%;
}

}





/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px){



img {

	margin-left: 0 auto;
	margin-right: 0 auto;
	display: inline-block;
	width: 90%;
}

}

@media (min-width: 767px) and (max-width: 990px){



img {

	margin-left: 0 auto;
	margin-right: 0 auto;
	display: inline-block;
	width: 100%;
}

}




/* Extra Small devices (tablets, 768px and up) */
@media (max-width: 766px) {



img {

	margin-left: 0 auto;
	margin-right: 0 auto;
	display: inline-block;
	width: 100%;
}


}